/******************** Lists ************************//*   
/* =========== start comment section */ 
.horizontal-scrollable {  
  overflow-x: scroll;
}
.horizontal-scrollable > .row > .col-xs-3 .list {
  display: inline-block;
  float: none;
}
.list {
  flex: 0 0 27rem;
  display: flex;
  flex-direction: column;
  background-color: #e2e4e6;
  min-height: calc(70vh - 9.8rem); 
  border-radius: 0.3rem;
  margin-right: 1rem;
}

.list:last-of-type {
  margin-right: 0;
}

.list-title {
  font-size: 17px;
  font-weight: 700;
  color: #333;
  padding: 1rem;
}

.list-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: start;
  padding: 0 0.6rem 0.5rem;
  overflow-y: auto; 
}

.list-items::-webkit-scrollbar {
  width: 1rem;
}

.list-items::-webkit-scrollbar-thumb {
  background-color: #c4c9cc;
  border-right: 0.6rem solid #e2e4e6;
}
.list-items li {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  background-color: #f8f9fa;
  padding: 0.65rem 0.6rem;
  color: #000000;
  border-bottom: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  margin-bottom: 0.6rem;
  word-wrap: break-word;
  cursor: pointer;
}

.list-items li:last-of-type {
  margin-bottom: 0;
}

.list-items li:hover {
  background-color: #eee;
}  
/* =========== end comment section */
.card_css{
  background-color: #fffefe;
  margin: 10px;
  border-radius:5px ;
  
}

.list {
  flex: 0 0 9rem;
  display: flex;
  flex-direction: column;
  background-color: #e2e4e6;
  border-radius: 0.3rem;
  margin-right: 1rem;
  min-height: calc(80vh - 8.5rem);
  height: auto; 
}

/* =========== start comment section */
/* .list {
  flex: 0 0 9rem;
  display: flex;
  flex-direction: column;
  background-color: #e2e4e6;
  max-height: calc(75vh - 8.8rem);
  border-radius: 0.3rem;
  margin-right: 1rem;
}   */
 .row>* {
  flex-shrink: 0;
  width: 22%;
  max-width: 100%;
}
 
/* =========== end comment section */


.list:last-of-type {
  margin-right: 0;
}

.list-title {
  font-size: 17px;
  font-weight: 700;
  color: #333;
  padding: 1rem;
}

.list-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: start;
  padding: 0 0.6rem 0.5rem;
  min-height: 40vh;
  overflow-y: auto; 
}

ul{
  height:30px;
}

.list-items::-webkit-scrollbar {
  width: 1rem;
}

.list-items::-webkit-scrollbar-thumb {
  background-color: #c4c9cc;
  border-right: 0.6rem solid #e2e4e6;
}

.list-items li {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
  background-color: #f8f9fa;
  padding: 0.65rem 0.6rem;
  color: #000000;
  border-bottom: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  margin-bottom: 0.6rem;
  word-wrap: break-word;
  cursor: pointer;
}

.list-items li:last-of-type {
  margin-bottom: 0;
}

.list-items li:hover {
  background-color: #eee;
}


.add-card-btn {
  display: block;
  font-size: 17px;
  font-weight: 400;
  color: #4d4d4d;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  border: none;
}
 

.add-card-btn:hover {
  background-color: #cdd2d4;
  color: #4d4d4d;
  text-decoration: underline;
}

li .edit-button {
  display: none;
}

li:hover .edit-button {
  display: inline-block;
}


@supports (display: grid) { 
  .list {
      display: grid;
      grid-template-rows: auto minmax(auto, 1fr) auto;
  }

  .list-items {
      display: grid;
      grid-row-gap: 0.6rem;
  } 
}

